/*
 Copyright 2017 SarahBoka
*/
/* 
    Created on : Feb 25, 2017, 12:34:10 PM
    Author     : Sarah
*/

body {
    background-color: #998066;
}

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #d6d6c2;
    /*background-color: #e0e0d1;*/
}

header {
    background-color: #c2c2a3;
    padding: 4% 0% 2% 0%;
    color: #fff;
    margin: auto;
    font-family: verdana;
    letter-spacing: 75px;
}

#head1 {
    background-color: #1a000d;
    /*background-color: #33001a;*/
    padding-top: 2%;
}

#head2 {
    background-color: #3d3d29;
    padding-top: 1%;
}

.main {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin: 1% 3%;
}

.heading {
    font-size: 30px;
}

#cat-div, .heading {
    padding-top: 15px;
    padding-bottom: 7px;
    text-align: center;
}