/*
 Copyright 2017 SarahBoka
*/
/* 
    Created on : Feb 25, 2017, 12:34:10 PM
    Author     : Sarah
*/

body {
    /*background-color: black;*/
    background-color: #282828;
    background-image: url("../img/smoke5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Courier, "Courier New", monospace;
}

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #d6d6c2;
    border: 1px solid white;
}

header {
    padding: 6% 0% 3% 4%;
    letter-spacing: 75px;
}

#head1 {
    background-color: #33001a;
    /*background-color: #1a000d;*/
    /*background-color: #4d0026;*/
    padding-top: 2%;
}

#head2, #foot2 {
    background-color: #282828;
    /*background-color: black;*/
    padding-top: 1%;
}

.main {
    background-color: #E8E8E8;
    margin: 1.5% 10%;
}

.heading {
    /*font-size: 30px;*/
    color:  gray;
    padding-top: 65px;
    padding-bottom: 35px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: verdana;
    /*font-family: Calibri,Arial,sans-serif;*/
    /*font-family: Optima,Segoe,"Segoe UI","Lucida Sans Unicode","Lucida Grande",Candara,Calibri,Arial,sans-serif;*/
}

.margin {
    margin-right: 16%;
    margin-left: 16%;
   
}

#side-div{
    padding-top: 25px;
    text-align: center;
}

.margin a {
    color: #33001a;
    font-weight: bold;
}

.ddbar {
    padding: 7px;
    margin: 3px;
}

#status-choice {
    margin: 10px;
    background-color:#c2c2a3;
}

table, th, td{
    /*background-color: #998066;*/
    border-radius: 10px;
}

table a {
    /*color: #33001a;*/
    font-weight: bold;
    cursor: pointer;
}

.deb-div {
    margin-bottom: 25px;
    padding: 5px;
    background-color: #d6d6c2;
    color: #777;
}

.deb-div a {
    color: #3d3d29;
}

#deb-main {
    padding-right: 10%;
    padding-left: 10%;
}


.deb-user {
    padding-left: 5%;
    border-radius: 40px;
}

#deb-deets {
    background-color: #d6d6c2;
    color: #777;
}

#deb-status {
    border: 1px dashed black; 
    margin: 5% 20% 5% 20%; 
    font-size: 25px;
    background-color: #fff;
    color: black;
}

#dash-main {
    padding: 2%;
}

#foot1 {
    background-color: #33001a;
    /*text-transform: uppercase;*/
    letter-spacing: 13px;
    font-family: verdana;
    padding: .3%;
}

#foot2 {
    border-top: 1px solid white;
}

#foot3 {
    padding: .5%;
}

.deb-reb, #login {
    border: solid 2px; 
    margin: 5% 20%;
}

header, #head2, #foot3, #foot1 {
    border-bottom: 1px solid white;
}

#challengeForm, #rebuteForm {
    margin: 7% 20%;
}

#login, #reg{
    border: solid 1px; 
    margin: 5% 30%;
}

#login, #reg, .deb-reb, #login, #deb-status, #deb-deets {
    padding: 1%; 
}

.deb-user, .deb-div, #deb-deets {
    border: 1px solid black;
}

.main, .margin {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    
}

.main, .margin, #login, #reg, #deb-deets, .deb-div {
    border-radius: 10px;
}

header, .heading {
    text-align: center; 
}

header, #foot3, .ddbar, .margin, #login, #reg, .deb-reb{
    background-color: #c2c2a3;
}

.deb-div a:hover, #foot3, #foot3 a, .navbar-default .navbar-brand:hover, header, #foot1 a {
    color: #fff;
}